.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 360px;
  background-color: #c6c6c6;
}

.cellStyle {
  position: relative;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid;
  border-color: white black black white;
  border-color: #000;
  border-width: 1px;
}

.sampleStyle {
  position: relative;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.cover {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #c6c6c6;
  border: solid;
  border-color: white black black white;
  border-width: 5px;
}
